<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    
  <title>Student List</title>
</head>
<body>
  <h1>Student List</h1>
  <p><a href="/student-add">Add New Student</a></p>

  <table border="1" cellpadding="10" cellspacing="0">
      <tr>
        <th>SN</th>
        <th>Name</th>
        <th>Email</th>
        <th>Mobile</th>
        <th>Action</th>
      </tr>
    <% studentList.map((stud,index) => { %>
      <tr>
        <td><%= index+1 %></td>
        <td><%= stud.fullname %></td>
        <td><%= stud.email %></td>
        <td><%= stud.mobile %></td>
        <td>
          <a href="/student-view/<%= stud.fullname.toLowerCase().replace(/ /g, '-') %>">View by name</a>
           &nbsp; | &nbsp; 
           <a href="/student-detail/<%= stud._id %>">View By id</a>
           &nbsp; | &nbsp; 
          <a href="/student-edit/<%= stud._id %>">Edit</a>
           &nbsp; | &nbsp; 
          <a href="/student-delete/<%= stud._id %>">Delete</a>
        </td>
      </tr>
    <% }) %>
  </table>
</body>
</html>
